* {
    font-family: "Lato", sans-serif;
}

.header {
    background-color: #402C37;
    width: 100%;
    height: 84px;
    justify-content: center;
    display: flex;
}

.container {
    width: 90%;
    height: 80px;
    float: left;
}

.logo {
    width: 100px;
    height: 53px;
    padding-left: 36px;
    padding-top: 16px;
    float: left;
}

.location {
    float: left;
    padding-top: 10px;
}

.location-text {
    color: white;
    font-size: 14px;
    padding-left: 15px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);

}

.location-select {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 3px;
    width: 503px;
    height: 29px;
    border-radius: 5px;
    background-color: lightgray;
    color: rgb(84, 81, 81);
}

.menu-section {
    float: right;
    padding-right: 50px;
    padding-top: 18px;
}

.menu {
    display: flex;
    gap: 11px;
    list-style-type: none;
}

.home {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.a-text-colour {
    color: lightgray;
    text-decoration: none;
    font-size: 16px;
    border-left: lightgray solid 1px;
    padding-left: 8px;
}

.video {
    width: 100%;
    height: 100%;
}

.heading {
    text-align: center;
    padding: 17px;
    color: #402C37;
}

.product-background {
    display: flex;
    gap: 20px;
    width: 23%;
    height: 414px;
    background-image: url(listing-product-bg.png);
    border-radius: 15px;
    float: left;
    margin-left: 22px;
    margin-top: 22px;
}

.all-products {
    align-items: center;
    gap: 10px;
    width: 87%;
    margin: auto;
}

.img-size {
    width: 292px;
    height: 262px;
    margin-top: 18px;
}

.name {
    text-align: center;
    color: #402C37;
    font-size: 17px;
    text-transform: lowercase;
}

.price {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 25px;
}

.space {
    height: 890px;
    width: 100%;
}

.show {
    background: red;
    color: #fff;
    letter-spacing: 0.5px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    display: flex;
}

.story-img-size {
    width: 37%;
    padding-left: 117px;
    padding-top: 197px;
    float: left;
}

.story-text-head {
    display: flex;
    float: left;
    padding-left: 94px;
    padding-top: 222px;
    color: #402C37;
}

.story-text {
    width: 747px;
    float: left;
    padding-left: 94px;
    line-height: 21px;
    color: #402C37;
}

.img-container {
    width: 88%;
    display: flex;
    margin: auto;
    gap: 25px;
    height: 473px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.text-background {
    display: flex;
    width: 100%;
    background-image: url(Layer_1922.png);
    background-size: 645px;
    float: left;
    margin-top: 92px;
    height: 303px;
    border-radius: 7px;
}

.img-text {
    padding-top: 63px;
    padding-left: 20px;
    font-size: 18px;
    color: #402C37;
}
.st-bar{
    width: 100%;
    height: 45px;
    background: #402C37;
    position: sticky;
    bottom: 0px;
}
.news{
    padding-left: 127px;
    color: #fcd002;
    align-items: center;
    display: flex;
    float: left;
    height: 45px;
}
.move-text{
    position: relative;
    animation: moveLeft 15s linear infinite;
    padding-left: 910px;
}
@keyframes moveLeft{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-925px);
    }
}
.st-icons{
    float: right;
}
.st-li{
    display: flex;
    list-style-type: none;
    gap:20px;
    width: 272px;
    margin: 5px;
}
.footer{
    background: black;
    width: 100%;
    height: 300px;
    display: flex;
}
.F1{
    width: 20%;
}
.F2{
    width: 14%;
}
.F3{
    width: 15%;
}
.F4{
    width: 15%;
}
.F5{
    width: 15%;
}
.F6{
    width: 21%;
}
.footer-logo1{
    padding-top: 39px;
    padding-left: 113px;
}
.lists{
    list-style-type:none ;
    margin-inline:-12px ;
}
.list-heading{
    margin-inline: 30px;
    padding-top: 18px;
    color: #fcd002;
}
.footer-list{
    color: #fcd002;
    text-decoration: none;
    line-height: 30px;
}
.list-icon{
    list-style-type: none;
    display: flex;
    padding-left: 25px;
    gap: 10px;
}
.footer-logo2{
    padding-left: 35px;
    padding-top: 40px;
}
.wa{
    position: fixed;
    top: 750px;
    right: 10px;
}